# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\important_code\Connectivity-Aware-Airway-Segmentation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
